._*
.*.swo
.*.swp
.bundle
.DS_Store
.sass-cache
tags
config/config.yml
config/deploy.rb
config/database.yml
db/*.db
public/cache
db/*.sqlite3
log/*.log
log/*
log/*.*
log/*.*.*
tmp/**/*
db/sphinx/*
public/system/*
