#heading
  %h1.home
    Our team collaborates with you
    %br/
    to build your dream
    %span.strike
      site
    apps.
  %h2 YOUR CONCEPT + YOU + OUR TEAM &rsaquo; WEB APP
#expertise.clearfix
  .phase-1
    %ul
      %li Concepting,
      %li User Stories &amp;
      %li Content Strategy
  .phase-2
    %ul
      %li Agile
      %li Design &amp;
      %li Development
  .phase-3
    %ul
      %li Testing,
      %li Integration, Deployment &amp;
      %li Maintenance Strategy
#technologies
  
