#heading
  %h1.what-is
    Transparent Work Culture
  %h2
    Communication is always open &amp; 
    %br/
    you're connected to our team 
    %br/
    while we work.
#section
  %p Approachability and openness are our main strengths. We conduct our business ethically and maintain transparency in all our dealings. Our core strength is our team.
  %h2 Customer collaboration over contract negotiation. 
  %p We believe that software cannot be ordered like a commodity. Time and time again, attempts to treat software projects in this manner have failed. Sometimes the failures are spectacular.
  %p Successful projects involve customer feedback on a regular and frequent basis. Rather than depending upon a contract, or a statement of work, the customer of the software works closely with our development team, providing frequent feedback on their efforts.
  %h2 Responding to change over following a plan. 
  %p It is the ability to respond to change that often determines the success or failure of a software project. When we build plans, we need to make sure that our plans are flexible and ready to adapt to changes in the business and technology.
  %p The course of a software project cannot be predicted far into the future. There are too many variables to account for. We simply aren’t very good at estimating the cost of a large project. The business environment that the software must serve is likely to change during the course of development. It is difficult to write reliable requirements. Customers are likely to alter the requirements once they see the system start to function.
  %p We believe a better planning strategy is to make detailed plans for the next few weeks, very rough plans for the next few months, and extremely crude plans beyond that. We should know the tasks we will be working on for the next few weeks. We should roughly know the requirements we will be working on for the next few months. And we should have a only a vague idea what the system will do after a year.
  %p This decreasing resolution of the plan means that we are only investing in a detailed plan for those tasks that are immediate. Once the detailed plan is made, it is hard to change since the team will have a lot of momentum and commitment. But since that plan only governs a few weeks worth of time the rest of the plan remains flexible. The lower resolution parts of the plan can be changed with relative ease.
