#main
  #heading
    %h1.what-is
      Transparent Work Culture
    %h2
      Communication is always open &amp; 
      %br/
      you're connected to our team 
      %br/
      while we work.
  #section    
    %p Approachability and openness are our main strengths. We conduct our business ethically and maintain transparency in all our dealings. Our core strength is our team.

