#heading
  %h1.what-is
    Offers a comprehensive
    %br/
    set of consulting services
    %br/
    across multiple industries
  %h2
    We are your
    %span.impt-cb2 Code by 2
    team members

#team.clearfix
  .team-mate-box
    %dl
      -# %dt= image_tag("../images/carmelyne.jpg", :alt => "Carmelyne Thompson", :title => "Carmelyne Thompson")
      %dt= image_tag("../images/logo.png", :alt => "Carmelyne Thompson", :title => "Carmelyne Thompson")
      %dd.name Carmelyne Thompson
      %dd UX / Design &amp; Coder
  .team-mate-box
    %dl
      %dt= image_tag("../images/logo.png", :alt => "Gordon DuQuesnay", :title => "Gordon DuQuesnay")
      %dd.name Gordon DuQuesnay
      %dd Coder
  .team-mate-box
    %dl
      %dt= image_tag("../images/logo.png", :alt => "Samnang Chhun", :title => "Samnang Chhun")
      %dd.name Samnang Chhun
      %dd Coder

#team-location
  %h2
    Our 
    %span.impt-cb2 distributed team approach
    allows us
    %br/
    to
    %span.impt-rails hire the best
    no matter where they are...
