#heading
  %h1.what-is
    Providing a comprehensive
    %br/
    set of consulting services
    %br/
    to clients across
    %br/
    multiple industries
  %h2
    WE ARE YOUR TEAM MEMBERS
#alpha-box.clearfix
  #section
    .team-mate-box
      %dl
        %dt Carmelyne Thompson
        %dd UX / Design Lead
    .team-mate-box
      %dl
        %dt Gordon D
        %dd Coder
    .team-mate-box
      %dl
        %dt Samnang
        %dd Coder